* {
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans", sans-serif;
}

.home {
    margin-left: 8%;
    margin-top: 1%;
}

.home h1 {
    font-size: 50px;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
}

.home h2 {
    color: darkslategray;
}

.contacts {
    margin-left: 8%;
    margin-top: 1%;
}

.contacts a {
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
}

.info {
    margin-left: 8%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: large;
    font-weight: 500;
    color: mediumpurple;
}

.social {
    display: flex;
    font-weight: 500;
    flex-direction: column;
}

.head {
    font-size: 20px;
    font-weight: 500;
}

body {
    background-image: url('./images/abt--.jpg');
    background-size: cover;
}